#header {
    background-color: #C2CBCF;
}

#left_panel {
    background-color: #C2CBCF;
}

#right_panel {
    background-color: #C2CBCF;
}

.height100 {
    height: 100%;
}

.height50 {
    height: 50%;
}

.height95 {
    height: 95%;
}

.height90 {
    height: 90%;
}

.height55 {
    height: 55%;
}

.height40 {
    height: 40%;
}

.height10 {
    height: 10%;
}

.height5 {
    height: 5%;
}

.button {
    background-color: #C9CFD1;
    color: black;
    border: 2px solid #555555;
}

.button:hover {
    background-color: #9EA2A3;
    color: white;
}

.block100 {
    width: 100%;
    display: block;
}

.block95 {
    width: 95%;
    display: block;
}

.block90 {
    width: 90%;
    display: block;
}

.block80 {
    width: 80%;
    display: block;
}

.block70 {
    width: 70%;
    display: block;
}

.block60 {
    width: 60%;
    display: block;
}

.block50 {
    width: 50%;
    display: block;
}

.block40 {
    width: 40%;
    display: block;
}

.block30 {
    width: 30%;
    display: block;
}

.block20 {
    width: 20%;
    display: block;
}

.block15 {
    width: 15%;
    display: block;
}

.block10 {
    width: 10%;
    display: block;
}

.block5 {
    width: 5%;
    display: block;
}

.block0 {
    width: 0%;
    display: none;
}
